include variables.pug
include settings.pug

doctype transitional
html
    head
        block meta_data
            include partials/head/meta_data.pug
        block client_styles
            include partials/head/client_styles.pug
        block custom_styles
            include partials/head/custom_styles.pug
        include partials/head/mso_conditionals.pug
    body(
        leftmargin="0"
        marginwidth="0"
        topmargin="0"
        marginheight="0"
        offset="0"
    )
        center
            table#backgroundTable&attributes(tableDefaults)
                tr
                    td(style={
                        padding: '15px',
                    })
                        +tbl("center", 600)
                            tr
                                block preheader
                            tr
                                block hero_image
                            tr
                                block main_content
        +gmail_hack
